.breadcrumb.title {
  font-size: 2.25em;
}

input[type="text"]:not(.browser-default) {
  font-size: 2em;
}

input[type="password"]:not(.browser-default) {
  font-size: 2em;
}

.input-field label {
  font-size: 1.2em;
}

.centeredText {
  text-align: center;
}
