$background-main: #6767ff;
$background-accept: #9393ff;
$background-trouble: #9b0000;
$background-close: #ca0000;

$foregound-main: #bcbcbc;
$foregound-accept: #efefef;
$foregound-trouble: #efefef;
$foreground-close: #efefef;

$text-dark: #444444;

nav {
  background-color: $background-main;
}

.btn {
  background-color: $background-main;
}

.btn i {
  color: $foregound-main;
}

.btn:hover {
  background-color: lighten($color: $background-main, $amount: 10%);
}

.btn-accept {
  background-color: $background-accept;
}

.btn-accept i {
  color: $foregound-accept;
}

.btn-accept:hover {
  background-color: lighten($color: $background-accept, $amount: 10%);
}

.btn-trouble {
  background-color: $background-trouble;
}

.btn-trouble i {
  color: $foregound-trouble;
}

.btn-trouble:hover {
  background-color: lighten($color: $background-trouble, $amount: 10%);
}

.btn-close {
  background-color: $background-close;
}

.btn-close i {
  color: $foreground-close;
}

.btn-close:hover {
  background-color: lighten($color: $background-close, $amount: 10%);
}

.darkText {
  color: $text-dark;
}
